.scratch-container {
    --scratchWidth: 200px;
    --scratchHeight: 100px;
    height: var(--scratchHeight);
    width: var(--scratchWidth);
    position: relative;
    border: 1px solid gray;
    & #mask{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
}